extends layout

block content
  h1= title
  p Github: &nbsp;
    a(href="https://github.com/mayden/team-security") https://github.com/mayden/team-security
  p Made by:
    ul
        li Alex Lavrentev
        li Bella Gandin
        li Maor Amsalem